{% extends "dashboard/base.html" %}
{% block content %} {% load static %}

<!-- ============================================================== -->
<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!--  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Email App Part -->
  <!-- ============================================================== -->
  <div class="email-app">
    <!-- ============================================================== -->
    <!-- Left Part -->
    <!-- ============================================================== -->
    <div class="left-part">
      <a class="ti-menu ti-close btn btn-success show-left-part d-block d-md-none" href="javascript:void(0)"></a>
      <div class="scrollable" style="height:100%;">
        <div class="p-15">
          <a id="compose_mail" class="waves-effect waves-light btn btn-danger d-block"
            href="javascript: void(0)">Compose</a>
        </div>
        <div class="divider"></div>
        <ul class="list-group">
          <li>
            <small class="p-15 grey-text text-lighten-1 db">Folders</small>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="active list-group-item-action"><i class="mdi mdi-inbox"></i> Inbox <span
                class="label label-success float-right">6</span></a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"> <i class="mdi mdi-star"></i> Starred </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"> <i class="mdi mdi-send"></i> Draft <span
                class="label label-danger float-right">3</span></a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"> <i class="mdi mdi-email"></i> Sent Mail </a>
          </li>
          <li class="list-group-item">
            <hr>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"> <i class="mdi mdi-block-helper"></i> Spam </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"> <i class="mdi mdi-delete"></i> Trash </a>
          </li>
          <li class="list-group-item">
            <hr>
          </li>
          <li>
            <small class="p-15 grey-text text-lighten-1 db">Labels</small>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"><i
                class="text-danger mdi mdi-checkbox-blank-circle"></i> Work </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"><i
                class="text-cyan mdi mdi-checkbox-blank-circle"></i> Business </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"><i
                class="text-warning mdi mdi-checkbox-blank-circle"></i> Family </a>
          </li>
          <li class="list-group-item">
            <a href="javascript:void(0)" class="list-group-item-action"><i
                class="text-info mdi mdi-checkbox-blank-circle"></i> Friends </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- Right Part  Mail Compose -->
    <!-- ============================================================== -->
    <div class="right-part mail-compose bg-white">
      <div class="p-20 border-bottom">
        <div class="d-flex align-items-center">
          <div>
            <h4>Compose</h4>
            <span>create new message</span>
          </div>
          <div class="ml-auto">
            <button id="cancel_compose" class="btn btn-dark">Back</button>
          </div>
        </div>
      </div>
      <!-- Action part -->
      <!-- Button group part -->
      <div class="card-body">
        <form>
          <div class="form-group">
            <input type="email" id="example-email" name="example-email" class="form-control" placeholder="To">
          </div>
          <div class="form-group">
            <input type="text" id="example-subject" name="example-subject" class="form-control" placeholder="Subject">
          </div>
          <div id="summernote"></div>
          <h4>Attachment</h4>
          <div class="dropzone" id="dzid">
            <div class="fallback">
              <input name="file" type="file" multiple />
            </div>
          </div>
          <button type="submit" class="btn btn-success m-t-20"><i class="far fa-envelope"></i> Send</button>
          <button type="submit" class="btn btn-dark m-t-20">Discard</button>
        </form>
        <!-- Action part -->
      </div>
    </div>
  </div>
  {% endblock content %}