{% extends "dashboard/base.html" %}
{% block content %} {% load static %}
<!-- ============================================================== -->
<style media="screen">
  .company-row {
    padding: 2%;
  }

  .yourcompanyinfo {
    padding-top: 5%;
    padding: 2%;
    padding-bottom: -5%;
  }
</style>

<div class="page-wrapper">
  <div class="row">
    <div class="yourcompanyinfo">
      <div class="col-md-12">
        <h4 class="d-inline">Your Company Information</h4>
        <p class="text-muted m-t-0">See All Of Your Business Credit Information Below</p>
      </div>
    </div>

  </div>
  <br><br>
  <div class="company-row">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sendesta Number</h4>
            <p class="card-text">{{company.sendesta_number}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Mailing Address</h4>
            <p class="card-text">{{company.email}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Annual Sales</h4>
            <p class="card-text">{{company.anual_sales}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company-row">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Business Form</h4>
            <p class="card-text">{{company.business_form}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Telephone</h4>
            <p class="card-text">{{company.telephone}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Employees</h4>
            <p class="card-text">{{company.employees}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company-row">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Date Incorporated</h4>
            <p class="card-text">{{company.date_incorporated}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Age (Year Started)</h4>
            <p class="card-text">{{company.age}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">State Of Incorporation</h4>
            <p class="card-text">{{company.state_incorporated}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company-row">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Named Principal</h4>
            <p class="card-text">{{company.name_of_principle}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Ownership</h4>
            <p class="card-text">{{company.user.username}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Line Of Business</h4>
            <p class="card-text">{{company.liens}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}